<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiss.dao.wxpay.WxpayPlaceOrderResultDao" >
  <resultMap id="WxpayPlaceOrderResultMap" type="com.xiss.model.wxpay.WxpayPlaceOrderResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="prepay_id" property="prepayId" jdbcType="VARCHAR" />
    <result column="code_url" property="codeUrl" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="noncestr" property="noncestr" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="DATE" />
    <result column="updated_at" property="updatedAt" jdbcType="DATE" />
  </resultMap>
  
  	<insert id="insert" parameterType="com.xiss.model.wxpay.WxpayPlaceOrderResult" useGeneratedKeys="true" keyProperty="id">  
      insert into wxpay_place_order_result 
      (id, order_number, prepay_id, code_url, sign, noncestr, created_at, updated_at) 
	  values 
	  (nextval('wxpay_place_order_result_id_seq'),#{orderNumber},#{prepayId},#{codeUrl},#{sign},#{noncestr},now(),now())
    </insert>
    <select id="getById" resultMap="WxpayPlaceOrderResultMap" parameterType="java.lang.Integer">
        select * from wxpay_place_order_result where id = #{id}
    </select>
    <select id="getByOrderNumber" resultMap="WxpayPlaceOrderResultMap" parameterType="java.lang.String">
        select * from wxpay_place_order_result where order_number = #{orderNumber}
    </select>
</mapper>