<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiss.dao.system.UsersDao">
	<resultMap id="UsersMapper" type="com.xiss.model.system.Users">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="encrypted_password" property="encryptedPassword" jdbcType="VARCHAR" />
		<result column="reset_password_token" property="resetPasswordToken" jdbcType="VARCHAR" />
		<result column="reset_password_sent_at" property="resetPasswordSentAt" jdbcType="DATE" />
		<result column="remember_created_at" property="rememberCreatedAt" jdbcType="DATE" />
		<result column="sign_in_count" property="signInCount" jdbcType="INTEGER" />
		<result column="current_sign_in_at" property="currentSignInAt" jdbcType="DATE" />
		<result column="last_sign_in_at" property="lastSignInAt" jdbcType="DATE" />
		<result column="current_sign_in_ip" property="currentSignInIp" jdbcType="VARCHAR" />
		<result column="last_sign_in_ip" property="lastSignInIp" jdbcType="VARCHAR" />
		<result column="created_at" property="createdAt" jdbcType="DATE" />
		<result column="updated_at" property="updatedAt" jdbcType="DATE" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="access_token" property="accessToken" jdbcType="VARCHAR" />
		<result column="pin" property="pin" jdbcType="VARCHAR" />
		<result column="verified" property="verified" jdbcType="BOOLEAN" />
		<result column="authentication_token" property="authenticationToken" jdbcType="VARCHAR" />
		<result column="roles" property="roles" jdbcType="INTEGER" />
		<result column="invitation_token" property="invitationToken" jdbcType="VARCHAR" />
		<result column="invited_by" property="invitedBy" jdbcType="INTEGER" />
		<result column="avatar" property="avatar" jdbcType="VARCHAR" />
	</resultMap>
	<insert id="save" parameterType="com.xiss.model.system.Users" useGeneratedKeys="true" keyProperty="id">  
      insert into users (id, created_at, updated_at, mobile, encrypted_password, email, roles, authentication_token)
	  values(nextval('users_id_seq'),now(),now(),#{mobile}, #{encryptedPassword},#{email},#{roles}, #{authenticationToken}
	  )
    </insert>
	<!-- 
	<insert id="save" parameterType="com.xiss.model.system.Users" useGeneratedKeys="true" keyProperty="id">  
      insert into users 
	  values(nextval('users_id_seq'),#{email},#{encryptedPassword},#{resetPasswordToken},#{resetPasswordSentAt},#{rememberCreatedAt},
	  #{signInCount},#{currentSignInAt},#{lastSignInAt},#{currentSignInIp},#{lastSignInIp},now(),now(),#{name},#{mobile},
	  #{accessToken},#{pin},#{verified},#{authenticationToken},#{roles},#{invitationToken},#{invitedBy},#{avatar}
	  )
    </insert>
     -->
    <update id="updateToken" parameterType="java.util.HashMap">
	 update users set authentication_token = #{authenticationToken}, updated_at=now()
	 where mobile = #{mobile}
	</update>
    <update id="updateInvited" parameterType="java.util.HashMap">
	 update users set invitation_token = #{invitationToken}, invited_by=#{invitedBy}, updated_at=now()
	 where mobile = #{mobile}
	</update>
	<update id="updateRoles" parameterType="java.util.HashMap">
	 update users set roles = #{roles}, updated_at=now()
	 where mobile = #{mobile}
	</update>
	<select id="getById" parameterType="int" resultMap="UsersMapper">
		SELECT * FROM users WHERE id = #{id}
	</select>
	<select id="getByMobile" parameterType="java.lang.String" resultMap="UsersMapper">
		SELECT * FROM users WHERE mobile = #{mobile}
	</select>
	<select id="getByToken" parameterType="java.lang.String" resultMap="UsersMapper">
		SELECT * FROM users WHERE authentication_token = #{authenticationToken}
	</select>
	<select id="queryByPage" parameterType="java.lang.String" resultMap="UsersMapper">
		SELECT * FROM users
	</select>
</mapper>