<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiss.dao.shops.DealsDao">
	<resultMap id="DealsMapper" type="java.util.Map">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="car_id" property="carId" jdbcType="INTEGER" />
		<result column="shop_id" property="shopId" jdbcType="INTEGER" />
		<result column="visited_at" property="visitedAt" jdbcType="DATE" />
		<result column="cleaned_at" property="cleanedAt" jdbcType="DATE" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="commented_at" property="commentedAt" jdbcType="DATE" />
		<result column="created_at" property="createdAt" jdbcType="DATE" />
		<result column="updated_at" property="updatedAt" jdbcType="DATE" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="comment_id" property="commentId" jdbcType="INTEGER" />
		<result column="yearMonth" property="yearMonth" jdbcType="VARCHAR" />
		<result column="count" property="count" jdbcType="INTEGER" />
		<result column="limit" property="limit" jdbcType="INTEGER" />
		<result column="offset" property="offset" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="DealsCountMapper" type="java.lang.Integer">
		<result column="count" property="count" jdbcType="INTEGER" />
		<result column="shop_id" property="shopId" jdbcType="INTEGER" />
		<result column="yearMonth" property="yearMonth" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getById" parameterType="int" resultMap="DealsMapper">
	select * from cards where id=#{id}
	</select>
	<select id="getCountByShopId" parameterType="int" resultMap="DealsMapper">
		select to_char(created_at,'YYYY-mm') as yearMonth, count(id) as count from deals where shop_id=#{shopId} group by yearMonth order by yearMonth desc
	</select>
	<select id="getDealsByShopId" parameterType="java.util.HashMap" resultMap="DealsMapper">
	select ROW_NUMBER() OVER (ORDER BY deals.updated_at desc) as rownum,
	cars.licensed_id,to_char(deals.updated_at,'YYYY-MM-DD HH12:MI:SS') as updated_at from deals, cars
	where deals.car_id = cars.id and deals.shop_id=#{shopId} and to_char(deals.updated_at,'yyyy-MM')='${yearMonth}'
    order by deals.updated_at desc 
    <if test="limit != null and limit > 0">
		<![CDATA[ limit ${limit}]]>
    </if>
    <if test="offset != null and offset > 0">
		<![CDATA[ offset ${offset}]]>
    </if>
	</select>
	<select id="getCarWashDealsCountByUserId" parameterType="java.util.Map" resultMap="DealsCountMapper" resultType="java.lang.Integer">
	select count(id) as count from deals
	where shop_id=#{shopId} and to_char(updated_at,'yyyy-MM')='${yearMonth}'
	</select>
</mapper>