<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiss.dao.shops.UnionShopsDao">
	<resultMap id="UnionShopMapper" type="com.xiss.model.shops.UnionShop">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="county" property="county" jdbcType="VARCHAR" />
		<result column="star" property="star" jdbcType="INTEGER" />
		<result column="category" property="category" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="profile" property="profile" jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="VARCHAR" />
		<result column="longitude" property="longitude" jdbcType="VARCHAR" />
		<result column="latitude" property="latitude" jdbcType="VARCHAR" />
		<result column="image" property="image" jdbcType="VARCHAR" />
		<result column="distance" property="distance" jdbcType="DOUBLE" />
		<result column="origin_image" property="originImage" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="openning" property="openning" jdbcType="VARCHAR" />
		<result column="created_at" property="createdAt" jdbcType="DATE" />
		<result column="updated_at" property="updatedAt" jdbcType="DATE" />
	</resultMap>
	<insert id="save" parameterType="com.xiss.model.shops.UnionShop" useGeneratedKeys="true" keyProperty="id">  
      insert into union_shops 
      (id, name, phone, province, city, county, star, category, address, status, profile, image, origin_image, user_id, openning, position, created_at, updated_at)
	  values (nextval('union_shops_id_seq'), #{name}, #{phone}, #{province}, #{city},#{county},#{star},#{category},#{address},#{status},
	  #{profile},#{image},#{originImage},#{userId},#{openning},'${position}',now(),now()
	  )
    </insert>
    <update id="updateStatus" parameterType="java.util.HashMap">
	 update union_shops set status = ${status}, updated_at=now()
	 where id = #{id}
	</update>
    <select id="getUnionShops" parameterType="java.util.HashMap" resultMap="UnionShopMapper">
		SELECT *,position[1] as latitude, position[2] as longitude 
		<if test="chooseLng != null and chooseLat != null">
			<![CDATA[ ,round(lat_lng_distance(#{chooseLat}, #{chooseLng}, 
                           to_number(position[1], '9999999999999999999.9999999999999999999'), 
                           to_number(position[2], '9999999999999999999.9999999999999999999'))::numeric, 2) as distance ]]>
        </if>
		
		 FROM union_shops WHERE 1=1
		<if test="status != null">
			<![CDATA[ and status = #{status} ]]>
        </if>
		<if test="name != null and name != ''">
			<![CDATA[ and name like '%${name}%' ]]>
        </if>
        <if test="category != null and category != ''">
			<![CDATA[ and category = '${category}' ]]>
        </if>
        <if test="province != null and province != ''">
			<![CDATA[ and province = '${province}' ]]>
        </if>
        <if test="city != null and city != ''">
			<![CDATA[ and city = '${city}' ]]>
        </if>
        <if test="county != null and county != ''">
			<![CDATA[ and county = '${county}' ]]>
        </if>
        <if test="chooseLng != null and chooseLat != null">
			<![CDATA[ order by distance ]]>
        </if>
        <if test="chooseLng == null || chooseLat == null">
			<![CDATA[ order by updated_at desc ]]>
        </if>
		<if test="limit != null and limit > 0">
			<![CDATA[ limit ${limit} ]]>
	    </if>
	    <if test="offset != null and offset > 0">
			<![CDATA[ offset ${offset} ]]>
	    </if>
	</select>
	<select id="getById" parameterType="int" resultMap="UnionShopMapper">
		SELECT * FROM union_shops WHERE id = #{id}
	</select>
	<select id="getByUserId" parameterType="java.lang.Integer" resultMap="UnionShopMapper">
		SELECT * FROM union_shops WHERE user_id = #{userId}
	</select>
</mapper>