<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiss.dao.order.SuitesDao" >
  <resultMap id="SuitesMap" type="com.xiss.model.order.Suites" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="origin_price" property="originPrice" jdbcType="DOUBLE" />
    <result column="sale_price" property="salePrice" jdbcType="DOUBLE" />
    <result column="store" property="store" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="tags" property="tags" jdbcType="INTEGER" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="DATE" />
    <result column="updated_at" property="updatedAt" jdbcType="DATE" />
  </resultMap>
  	<insert id="insert" parameterType="com.xiss.model.order.Suites" useGeneratedKeys="true" keyProperty="id">  
      insert into suites (id, name, origin_price, sale_price,shop_id,created_at,updated_at) 
	  values (nextval('suites_id_seq'),#{name},#{originPrice},#{salePrice},#{shopId},now(),now())
    </insert>
    <select id="getById" resultMap="SuitesMap" parameterType="java.lang.Integer">
        select * from suites where id = #{id}
    </select>
</mapper>