<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiss.dao.order.WaresDao" >
  <resultMap id="WaresMap" type="com.xiss.model.order.Wares" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="origin_price" property="originPrice" jdbcType="DOUBLE" />
    <result column="sale_price" property="salePrice" jdbcType="DOUBLE" />
    <result column="suite_id" property="suiteId" jdbcType="INTEGER" />
    <result column="tags" property="tags" jdbcType="INTEGER" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="DATE" />
    <result column="updated_at" property="updatedAt" jdbcType="DATE" />
  </resultMap>
    <select id="getById" resultMap="WaresMap" parameterType="java.lang.Integer">
        select * from wares where id = #{id}
    </select>
    <select id="getWaresBySuiteId" resultMap="WaresMap" parameterType="java.lang.Integer">
        select * from wares where suite_id = #{suiteId}
    </select>
</mapper>